.app{
  display: grid;/*the first row takes 150 px fixed height and rsecond row takes remaining space*/
  grid-template-rows: 150px auto;
  
}
.app_main{
  display:flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}
.task_column{
  width:33.33%;
  
  margin: 20px;
}.bg{
  height:100vh;
}